<footer class="footer">
  <div class="Krow">© 2019 Copyright:
    <a href=""> Z-Mobile</a>
  </div>
  <div class="Krow">Adress of company
  </div>
  <div class="Krow">Call us at 129487
  </div>
</footer>
