<body>
  <div id="mySidenav" class="sidenav">
    <%= link_to 'New Userrrrrr' , new_user_path %>
    <%= link_to 'New product' , new_product_path %>

    <a>Sponsor <%= rand(5) %></a>
  </div>
</body>
